---
import Layout from '../layouts/Layout.astro';

---

<Layout>
  <div slot="article" class="w-full flex justify-center dark:bg-gray-200 dark:text-black mt-5 mb-5">
    <div class="max-w-2xl">
      <h1 class="text-3xl font-bold mb-5">Mi Blog</h1>

      <div class="bg-white p-6 rounded-lg shadow-md mb-6">
        <h2 class="text-xl font-semibold mb-2">Sobre mi</h2>
        <p class="text-gray-600">Fecha: 28 de Noviembre de 2023</p>
        <p class="mt-4">Mi nombre es luis Octavio Neri Velázquez, soy estudiante en el instituto tecnologico de Jalisco, Me gusta mucho viajar y salir con mis amigos, también me gusta practicar algunos deportes cuando se presenta la ocasión, por ejemplo el futbol, basketball. </p>
        <a class="text-blue-500 mt-2 inline-block">Gracias por leer</a>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-md mb-6">
        <h2 class="text-xl font-semibold mb-2">Mis planes a futuro</h2>
        <p class="text-gray-600">Fecha: 28 de Noviembre de 2023</p>
        <p class="mt-4">Me gustaria parcticar boxeo, ciclismo, y saber jugar mejor futbol y basketball, me gustaria desarrollar mejor mis habilidades de programación, así como aprender redes, base de datos y ciberseguridad.</p>
        <a class="text-blue-500 hmt-2 inline-block">Gracias por leer</a>
      </div>


    </div>
  </div>
</Layout>



