---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div slot="article" class="w-full flex justify-center dark:bg-gray-200 dark:text-black mt-5 mb-5">
    <div class="perfil-home-cvu max-w-md p-6 border border-gray-300 rounded-md">
      <img src="/public/IMGMEM/7.jpg" alt="foto de perfil" class="rounded-full w-36 h-40 object-cover border-4 border-gray-800" />
      <h3 class="text-xl font-bold mt-2">Luis Octavio Neri Velázquez</h3>

      <fieldset class="mt-4">
        <legend class="w-full flex justify-center text-lg font-semibold">Domicilio</legend>
        <ul class="list-disc ml-8">
          <li> <span class="font-medium"> Calle:</span> Flaviano Ramos #173 </li>
          <li> <span class="font-medium"> Localidad:</span> Tlajomulco, Jalisco. </li>
          <li> <span class="font-medium"> CP.</span> 45640 </li>
          <li> <span class="font-medium"> Teléfono:</span> 3312688500 </li>
        </ul>
      </fieldset>

	    <fieldset class="mt-4">
        <legend class="w-full flex justify-center text-lg font-semibold">Datos Generales</legend>
        <ul class="list-disc ml-8">
          <li> <span class="font-medium"> Fecha de nacimiento:</span> 16/12/2002 </li>
          <li> <span class="font-medium"> CURP:</span> NEVL021216HJCRLSA5 </li>
          <li> <span class="font-medium"> Cédula licenciatura:</span> 20940376 </li>
          <li> <span class="font-medium"> Email:</span> l20940376@tlajomulco.tecnm.mx </li>
        </ul>
      </fieldset>

      <fieldset class="mt-4">
        <legend class="w-full flex justify-center text-lg font-semibold">Formación académica</legend>
        <ul class="list-disc ml-8">
          <li> <span class="font-medium">Cédula profesional:</span> 20940376  </li>
          <li> <span class="font-medium">Licenciatura en Ingeniería en Sistemas Computacionales:</span> Instituto Tecnológico de Tlajomulco</li>
        </ul>
      </fieldset>

      <fieldset class="mt-4">
        <legend class="w-full flex justify-center text-lg font-semibold">Experiencia laboral</legend>
        <ul class="list-disc ml-8">
          <li> <span class="font-medium">NULL </span> NULL  </li>
        </ul>
      </fieldset>

      <fieldset class="mt-4">
        <legend class="w-full flex justify-center text-lg font-semibold">Idiomas</legend>
        <ul class="list-disc ml-8">
          <li> <span class="font-medium">Español:</span> Nativo  </li>
          <li> <span class="font-medium">Inglés:</span> 30%</li>
        </ul>
      </fieldset>
    </div>
  </div>
</Layout>