---
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<div slot="article" class="w-full flex justify-center dark:bg-violet-200 dark:text-black mt-5 mb-5">
		<div ="perfil-home-cvu">
			<img src="/public/IMGMEM/7.jpg" alt="foto de perfil"/>
			<h3>Luis Octavio Neri Velázquez</h3>
			
			<fieldset>
				<legend class="w-full flex justify-center">Domicilio</legend>
				<ul>
					<li> <span> Calle:</span> Flaviano Ramos #173 </li>
					<li> <span> Localidad:</span> Tlajomulco, Jalisco. </li>
					<li> <span> CP.</span> 45640 </li>
					<li> <span> Telefono:</span> 3312688500 </li>
				</ul>
			</fieldset>
		   
			<fieldset>
				<legend class="w-full flex justify-center">Datos Generales</legend>
				<ul>
					<li> <span> Fecha de nacimiento:</span> 16/12/2002 </li>
					<li> <span> CURP:</span> NEVL021216HJCRLSA5 </li>
					<li> <span> Cedula licenciatura:</span> 20940376 </li>
					<li> <span> email:</span> l20940376@tlajomulco.tecnm.mx </li>
				</ul>   
			</fieldset>
		  
			<fieldset>
				<legend class="w-full flex justify-center">Formacion académica</legend>
				<ul>
					<li> <span>Cedula profesional:</span> 20940376  </li>
					<li> <span>Licenciatura en Ingenieria en sistemas computacionales:</span> Intituto tecnologico de Tlajomulco</li>
				</ul>
			</fieldset>
			<fieldset>
				<legend class="w-full flex justify-center">Experiencia laboral</legend>
				<ul>
					<li> <span>NULL </span> NULL  </li>
				</ul>
			</fieldset>
			<fieldset>
				<legend class="w-full flex justify-center">Idiomas</legend>
				<ul>
					<li> <span>Español:</span> Nativo  </li>
					<li> <span>Ingles:</span> 30%</li>
				</ul>
			</fieldset>
		</div>
		
	</div>
</Layout>

<style>
	img {
		width: 150px;
  		height: 175px;
  		margin: 5px;
 		border: 5px solid rgb(32, 30, 32); 
	}
</style>