---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div slot="article" class="w-full flex justify-center dark:bg-gray-200 dark:text-white mt-5 mb-5">
    <div class="max-w-xl">
      <div id="carousel" class="relative overflow-hidden">
        
        <div class="flex transition-transform duration-300 ease-in-out" id="slide-container">
       
          <div class="w-full h-96 flex-shrink-0 relative">
            <img src="/IMGINICIO/1.jpeg" alt="Imagen 1" class="w-full h-full object-cover">
            <div class="absolute bottom-0 left-0 right-0 p-4 bg-gray-800 bg-opacity-50">
              <p class="text-white text-lg">BIENVENIDO A MI PAGINA WEB</p>
            </div>
          </div>

        
          <div class="w-full h-96 flex-shrink-0 relative">
            <img src="/IMGINICIO/3.jpeg" alt="Imagen 2" class="w-full h-full object-cover">
            <div class="absolute bottom-0 left-0 right-0 p-4 bg-gray-800 bg-opacity-50">
              <p class="text-white text-lg">CONOCE MI TRABAJO</p>
            </div>
          </div>

         
          <div class="w-full h-96 flex-shrink-0 relative">
            <img src="/IMGINICIO/4.jpeg" alt="Imagen 3" class="w-full h-full object-cover">
            <div class="absolute bottom-0 left-0 right-0 p-4 bg-gray-800 bg-opacity-50">
              <p class="text-white text-lg">GRACIAS POR VISITAR</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    let currentSlide = 0;
    const slideContainer = document.getElementById('slide-container');
    const slides = document.querySelectorAll('#carousel .flex-shrink-0');
    const slideWidth = slides[0].clientWidth;

    function showSlide(index) {
      slideContainer.style.transform = `translateX(-${index * slideWidth}px)`;
      currentSlide = index;
    }

    setInterval(() => {
      currentSlide = (currentSlide + 1) % slides.length;
      showSlide(currentSlide);
    }, 5000);
  </script>
</Layout>






